<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.evanisnor.freshwaves">

  <application
    android:allowBackup="false"
    android:icon="@mipmap/wave_color"
    android:networkSecurityConfig="@xml/network_security_config"
    tools:replace="android:allowBackup">

    <activity
      android:name=".HiltTestActivity"
      android:exported="false" />

    <activity
      android:name=".debugmenu.DebugMenuActivity"
      android:exported="false" />

    <!-- region androidx.test API 31 Workaround https://issuetracker.google.com/issues/182098106 -->

    <activity
      android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
      android:exported="true"
      android:theme="@android:style/Theme"
      tools:node="replace">

      <intent-filter>

        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
      android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
      android:exported="true"
      android:theme="@android:style/Theme"
      tools:node="replace">

      <intent-filter>

        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
      android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
      android:exported="true"
      android:theme="@android:style/Theme"
      tools:node="replace">

      <intent-filter>

        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <!-- endregion -->

  </application>

</manifest>
